.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.25rem;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: hsl(0, 0%, 29%);
  max-width: 100%;
  position: relative;
}

.card-footer:first-child, .card-content:first-child, .card-header:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.card-footer:last-child, .card-content:last-child, .card-header:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.card-header {
  background-color: transparent;
  align-items: stretch;
  box-shadow: 0 0.125em 0.25em rgba(10, 10, 10, 0.1);
  display: flex;
}

.card-header-title {
  align-items: center;
  color: hsl(0, 0%, 21%);
  display: flex;
  flex-grow: 1;
  font-weight: 700;
  padding: 0.75rem 1rem;
}
.card-header-title.is-centered {
  justify-content: center;
}

.card-header-icon {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  color: currentColor;
  font-family: inherit;
  font-size: 1em;
  margin: 0;
  padding: 0;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.75rem 1rem;
}

.card-image {
  display: block;
  position: relative;
}
.card-image:first-child img {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.card-image:last-child img {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.card-content {
  background-color: transparent;
  padding: 1.5rem;
}

.card-footer {
  background-color: transparent;
  border-top: 1px solid hsl(0, 0%, 93%);
  align-items: stretch;
  display: flex;
}

.card-footer-item {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  padding: 0.75rem;
}
.card-footer-item:not(:last-child) {
  border-right: 1px solid hsl(0, 0%, 93%);
}

.card .media:not(:last-child) {
  margin-bottom: 1.5rem;
}

/* bulma-horizontal-card | v1.2.2 (c) Alex H and contributors | MIT */
.content .card figure.image {
  margin-left: 0;
  margin-right: 0;
}
.content .card .card-header-title {
  margin-bottom: 0;
}

.card.is-horizontal {
  margin-bottom: 1.5rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.25rem;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: hsl(0, 0%, 29%);
  display: flex;
  flex-flow: row wrap;
  flex-basis: 50ex;
  flex-grow: 0;
  flex-shrink: 1;
}
.card.is-horizontal .card-image.is-radiusless-bottom .image img {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.card.is-horizontal .media:not(:last-child) {
  margin-bottom: 1.5rem;
}
.card.is-horizontal .card-header:first-child, .card.is-horizontal .card-content:first-child, .card.is-horizontal .card-footer:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.card.is-horizontal .card-header:last-child, .card.is-horizontal .card-content:last-child, .card.is-horizontal .card-footer:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.card.is-horizontal .card-image:first-child img {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.card.is-horizontal .card-image:last-child img {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.card.is-horizontal .card-header {
  background-color: transparent;
  box-shadow: 0 0.125em 0.25em rgba(10, 10, 10, 0.1);
}
.card.is-horizontal .card-header-title {
  color: hsl(0, 0%, 21%);
  font-weight: 700;
  font-weight-padding: 0.75rem 1rem;
}
.card.is-horizontal .card-header-icon {
  padding: 0.75rem 1rem;
}
.card.is-horizontal .card-content {
  background-color: transparent;
  padding: 1.5rem;
}
.card.is-horizontal .card-footer {
  background-color: transparent;
  border-top: 1px solid hsl(0, 0%, 93%);
}
.card.is-horizontal .card-footer-item {
  padding: 0.75rem;
}
.card.is-horizontal .card-footer-item:not(:last-child) {
  border-right: 1px solid hsl(0, 0%, 93%);
}
.card.is-horizontal header.card-header:first-child {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
}
.card.is-horizontal footer.card-footer:last-child {
  flex-grow: 5;
  flex-shrink: 0;
  flex-basis: 100%;
  order: 99;
}
.card.is-horizontal .card-image, .card.is-horizontal .card-image.is-left {
  flex: 2;
  flex-shrink: 2;
  flex-basis: 12.5%;
}
.card.is-horizontal .card-image .image, .card.is-horizontal .card-image.is-left .image {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.card.is-horizontal .card-image .image img, .card.is-horizontal .card-image.is-left .image img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 0.25rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0;
}
.card.is-horizontal .card-image.is-right, .card.is-horizontal .card-image.is-left.is-right {
  order: 2;
}
.card.is-horizontal .card-image.is-right .image img, .card.is-horizontal .card-image.is-left.is-right .image img {
  border-top-right-radius: 0.25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0.25rem;
  border-top-left-radius: 0;
}
.card.is-horizontal .card-image:has(~ footer.card-footer) .image img {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.card.is-horizontal header.card-header ~ .card-image .image img {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.card.is-horizontal .card-content {
  flex: 3;
  flex-shrink: 3;
  position: relative;
}
.card.is-horizontal .card-content header.card-header {
  margin-top: -1.5rem;
  margin-left: -1.5rem;
  margin-bottom: 1.5rem;
  margin-right: -1.5rem;
}
.card.is-horizontal .card-content footer.card-footer {
  margin-top: 1.5rem;
  margin-left: -1.5rem;
  margin-bottom: -1.5rem;
  margin-right: -1.5rem;
}
.card.is-horizontal .card-content footer.card-footer.is-forced-bottom {
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*# sourceMappingURL=bulma-horizontal-card.css.map */
